.project-heading {
    text-align: center;
    padding: 4rem 0 2rem 0;
  }
  
  .work-container {
    overflow-y: auto;
    max-height: 100vh;
  }
  
  .project-container {
    max-width: 800px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    grid-gap: 40px;
    padding-bottom: 5rem;
    height: auto;
    overflow: auto;
  }
  
  .project-card {
    background: #ffffff;
    padding: 1.2rem 1rem;
    overflow: auto;
  }
  
  .project-card img {
    width: 100%;
  }
  
  .project-title {
    color: #fff;
    padding: 1rem 0;
  }
  
  .pro-details p {
    padding-bottom: 1rem;
    font-size: 2.1rem;
    text-align: justify;
  }
  
  .pro-btns {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
  }
  
  .pro-btns .btn {
    padding: 1.5rem 3rem;
    font-size: 1.5rem;
    background-color: #ffd700;
    color: #000;
    text-decoration: none;
    display: inline-block;
    margin: 0 auto;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .pro-btns .btn:hover {
    background-color: #000;
    color: #ffd700;
  }
  
  @media screen and (max-width: 740px) {
    .project-container {
      max-width: 90%;
      margin: auto;
      grid-template-columns: 1fr;
    }
  }
  